/* Fonts */
@font-face {
    font-family: 'Outfit';
    src: url('../fonts/Outfit-Regular.ttf');
}

/* Navigation labels */
.nav-label {
    -fx-font-family: 'Outfit';
    -fx-font-size: 20px;
    -fx-text-fill: #125a8b;
}

/* Buttons */
.landing-page-button1 {
    -fx-background-color: rgba(140, 139, 218, 0);
    -fx-border-color: #125a8b;
    -fx-border-radius: 83px;
    -fx-text-fill: #125a8b;
    -fx-font-family: 'Outfit';
    -fx-font-size: 16px;
}

.landing-page-button2 {
    -fx-background-color: #125a8b;
    -fx-border-radius: 83px;
    -fx-text-fill: white;
    -fx-font-family: 'Outfit';
    -fx-font-size: 16px;
}

.landing-page-button3 {
    -fx-background-color: #125a8b;
    -fx-text-fill: white;
    -fx-font-family: 'Outfit';
    -fx-font-size: 18px;
    -fx-border-radius: 10px;
}

/* Hero Text */
.landing-page-text18 {
    -fx-font-family: 'Outfit';
    -fx-font-size: 48px;
    -fx-font-weight: bold;
    -fx-text-fill: #125a8b;
    -fx-line-spacing: 10px;
}

.landing-page-text17 {
    -fx-font-family: 'Outfit';
    -fx-font-size: 16px;
    -fx-text-fill: #333333;
    -fx-text-alignment: center;
}
